@charset "UTF-8";

.w10 {
	width: 10% !important;
}

.w20 {
	width: 20% !important;
}

.w30 {
	width: 30% !important;
}

.w40 {
	width: 40% !important;
}

.w50 {
	width: 50% !important;
}

.w60 {
	width: 60% !important;
}

.w70 {
	width: 70% !important;
}

.w80 {
	width: 80% !important;
}

.w90 {
	width: 90% !important;
}

.w100 {
	width: 100% !important;
}

.font10 {
	font-size: 10px !important;
}

.font15 {
	font-size: 15px !important;
}

.font20 {
	font-size: 20px !important;
}

.font25 {
	font-size: 25px !important;
}

.font30 {
	font-size: 30px !important;
}

.tleft {
	text-align: left !important;
}

.tright {
	text-align: right !important;
}

.tcenter {
	text-align: center !important;
}

button {
	background: #00acac;
	color: #fff;
	padding: 7px 20px;
	border-radius: 3px !important;
	font-size: 12px;
	border: none;
	cursor: pointer;
}

.acc {
	margin-top: 10px;
}

.input_text {
	margin: 0 10px;
	display: inline-block;
	zoom: 1;
	width: 150px;
	height: 30px;
	padding: 0 10px;
	border: 1px solid #bec0c4;
	border-radius: 3px !important;
	line-height: 22px;
	box-sizing: border-box;
}

body div {
	margin: 0 auto;
	width: 800px;
}

#charaDiv div {
	margin-top: 20px;
}

#accRoot li {
	padding: 3px 0;
}

table {
	width: 100%;
}

table tbody tr th {
	font-size: 14px;
	color: #333;
	background: #f9fafb;
	border: 1px solid #e2e7eb;
	padding: 10px;
	text-align: center;
	height: 20px;
}

table tbody tr td{
	font-size: 12px;
	color: #000000;
	background: #fff;
	border: 1px solid #e2e7eb;
	padding: 9px 3px;
	text-align: center;
	height: 20px;
	cursor: pointer;
}

table tbody.resultTableBody tr td:nth-child(odd){
	border-width: 1px 0 1px 1px;
}

table tbody.resultTableBody tr td:nth-child(even){
	border-width: 1px 1px 1px 0;
}

.power{
	background-color: #ff3333;
} 

.tdselect{
	border: 1px solid red;
}